.mainApp {
  height: 100vh;
  background-image: url('mainPage.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}
.mainAppTwo {
  color: black;
  height: 100vh;
  display: flex;
  margin-left: 13vw;
  font-size: 1.2em;
  flex-direction: column;
}

.mainAppThree {
  color: black;
  height: 100vh;
  margin-left: 13vw;
  font-size: 1.2em;
  flex-direction: column;
}

.formPageInline{
  display: flex;
  align-items: center;
}

 /* ************************************ PLACE FOR ALL THE FORM BOX LENGTHS ************************************/
 .calendarPlacment{
   padding-right: 5%;
   display: flex;
   flex-direction: column;
   align-items: center;
  }
  
  /* ************************************ PLACE FOR ALL THE FORM BOX LENGTHS ************************************/
  .titlePage{
    opacity: .6;
    font-size: 1.2em;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 10%;
    padding-top: 2%;
  }
  
  .googleLogin{
    text-align: center;
  }
  
  .welcomeManager {
    text-align: center;
  }
  
  .billPayForm {
    display: flex;
    flex-direction: column;
    height: 33vh;
    flex-wrap: wrap;
    align-items: center;
    width: 40vw;
  }
  
  .bottomLinks{
    text-decoration: none;
    color: black;
  }

  .bottomLinks:hover {
    color: brown;
    font-size: 1.05em;
  }

  .onClickRows:hover{
    color: brown;
    font-size: 1.5em;
  }
  
  .submitPlacment{
    position: absolute;
    margin-top: 18%;
  }
  
  .submit{
    font-size: 4em;
  }
  /* ************************************ WELCOME MANAGER PAGE ************************************/
  .navBar {
    position: absolute;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-around;
    width: 11vw;
    height: 100vh;
    border: 1px solid black;
  }

  .managerOptions{
    display: flex;
    justify-content: space-around;
  }
  
  /* ************************************ Manager Invoice Page ************************************/
  .tableStyle{
    justify-content: left;
  }

  table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
  }

  th, td {
    padding: 10px;
  }
  
  th {
    text-align: left;
  }
